<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-lock-open fa-6x"></i>
    <h1 class=" text-primary">Welcome to My Secret Notes.!</h1>
    <p class="h4">I promise that your notes will not be shared by us.</p>
    <%userWithSecrets.forEach(function(secret){%>
      <p class="secret-text"><%=secret%></p>
    <%})%>

    <hr>

      <a class="btn btn-dark btn-lg" href="/submit" role="button">Add new Secret</a>

    <a class="btn btn-info btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
